:root {
    --color-o: #fca326;
    /* orange */
    --color-o-50: #fc6d26;
    /* dark orange */
    --color-o-100: #e24329;
    /* darker orange */
    --color-vio: #554488;
    /* violet */
    --color-vio-100: #222261;
    /* dark violet */
}

.bg-o {
    background-color: var(--color-o);
}

.bg-o-50 {
    background-color: var(--color-o-50);
}

.bg-o-100 {
    background-color: var(--color-o-100);
}

.bg-vio {
    background-color: var(--color-vio);
}

.bg-vio-100 {
    background-color: var(--color-vio-100);
}

/* Text Colors */
.text-o {
    color: var(--color-o);
}

.text-o-50 {
    color: var(--color-o-50);
}

.text-o-100 {
    color: var(--color-o-100);
}

.text-vio {
    color: var(--color-vio);
}

.text-vio-100 {
    color: var(--color-vio-100);
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    transition: transform 0.3s ease;
}

footer {
    background-color: #343a40;
    color: white;
}

.content {
    padding-top: 80px;
    /* Space for the fixed navbar */
}

.footer-text {
    margin: 0;
    padding: 10px 0;
}

.circular-grey-background {
    border-radius: 50%;
    padding: 5px;
}

.os-icon {
    height: 25px;
}

.canvas-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    height: 500px;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
}